[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xscreensaver-service
Comment=
Exec=/mnt/screensaver/linux_screensaver_by_pics/deploy_data/download_pics.pl
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

